/* colors
"primary": "#0d9488", // Teal 600
"primary-hover": "#0f766e", // Teal 700
"navy-bg": "#020617", // Dark Navy Blue 950
"navy-card": "#0f172a", // Navy Blue 900
 "navy-sidebar": "#070c1b", // Slightly darker navy for sidebar
"border-navy": "#1e293b", // Navy 800
 "accent-teal": "#2dd4bf", // Bright Teal 400 font color for details page
"teal-dim": "#134e4a", // Deep Teal
Roboto Mono
Fira Sans
Jost
*/ 

*{
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;

  /* background-color: #020617; */
  /* color: white; */
}

body {
  background-color: #020617;
  font-weight: 300;
}

/* =========================================
   2. NAVIGATION BAR
   ========================================= */

.navbar-container{
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  border-bottom: 3px solid  #0f172a;
  position: sticky;
  top: 0;
  background-color: #020617 ;
  height: 35px;
}

.navbar-container a{
  text-decoration: none;
  color: white;
}

.logo-image-navbar{
  width: 22vw;
  height: auto;
  margin-top: 5px;
}

.search{
  background-color: #0f172a ;
  color:#2dd4bf; 
  border: none;
  border-radius: 5px;
  padding: 7px;
  width: 250px;
  margin-top: 25px;
}

/* =========================================
   3. BOOK GRID & CARDS (Homepage)
   ========================================= */

.book-card{
  display: flex;
  flex-direction: column;
  /* align-items:  */
  /* padding: 10px; */
  justify-content: center;
  text-align: center;
  margin: 20px 7px 20px 20px;
  width: 21vw;
  /* border: 5px solid  #1040ae; */
}

.book-card a{
  text-decoration: none;
  color: white;
}

.book-card h5{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: small;
  text-align: center;
}

.book-card p{
  margin: 0px;
  color: white;
  font-size: x-small;
  text-align: center;
}

.book-list-grid p{
  margin: 0px;
  color: white;
  font-size: x-small;
  text-align: center;
}

/* =========================================
   4. PAGINATION CONTROLS
   ========================================= */

.pagination {
  color: #198173;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  font-weight: 400;
  font-size: large;
}

.pagination span {
  margin-top: 7px;
}

.pagination button {
  gap: 5px;
  border: 1px solid  #198173;
  background-color: #020617;
  color: #2dd4bf;
  border-radius: 5px;
  padding: 10px 6px;
  width: 10vw;
  cursor: pointer;
  /* cursor: pointer;
  background-color: #198173;
  color: white;
  border-radius: 5px;
  width: 20vw;
  padding: 10px 0px;
  border: none; */
}


.pay-button {
  gap: 5px;
  border: 1px solid  #198173;
  background-color: #020617;
  color: #2dd4bf;
  border-radius: 5px;
  padding: 10px 6px;
  width: 10vw;
  cursor: pointer;
}

/* =========================================
5. INDIVIDUAL BOOK DETAILS PAGE
========================================= */


.book-cover{
  width: 15vw;
  height: 25vh;
  object-fit: contain;
  /* border: 5px solid rgb(185, 37, 37); */

}

.book-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80vw;
  /* border: 5px solid white; */
  justify-content: center;
}

.single-book-container{
  display: flex;
  background-color: #020617;
  color: white;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* border: teal 10px solid */
}

.single-book-content{
  display : flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.single-book-image{
  /* border: 5px solid yellow; */
  margin-left: 50px;
  margin-top: 50px;
  height: 70vh;
}

.Single-book-cover{
  width: 25vw;
  height: 70vh;
  object-fit: contain;
  /* border: 5px solid rgb(255, 102, 0); */
}

.single-book-title{
  /* border: 10px solid green; */
  margin-bottom: 20px;
}

.single-book-title h5{
  color: #2dd4bf;
  margin-top: 5px;
  margin-bottom: 0px;
}

.single-book-title p {
  margin-top: 12px;
}

.single-book-title h4{
  background-color: #134e4a;
  color: #2dd4bf;
  display: inline-block;
  border-radius: 5px;
 font-size: small;
  padding: 5px 10px;
  margin-top: 10px;
}

.Category{
  padding: 5px 10px;
  background-color: #134e4a;
  border-radius: 5px;
  margin: 0px;
  display: inline-block;
  font-style: italic;
  color: #2dd4bf;
  font-size: x-small;
}

.rating-div{
  display: flex;
  justify-content: space-between;
}

.single-book-priceinfo{
  background-color: #0f172a;
  border-radius: 10px ;
  padding: 10px 20px 18px 20px;
} 

.in-stock-img{
  width: 20px;
  height: 20px;
}

.price-discount{
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  margin-top: 7px;
}

.discount{
  background-color: #134e4a;
  color: #2dd4bf;
  display: inline-block;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  font-size:xx-small;
}

.buy-button, .checkout-btn, .add-new-book, .admin-button, .edit-details {
  cursor: pointer;
  background-color: #198173;
  color: white;
  border-radius: 5px;
  width: 10vw;
  padding: 10px 0px;
  border: none;
}

.quantity-btn{
 cursor: pointer;
  background-color: #198173;
  color: white;
  border-radius: 5px;
  width: 2.5vw;
  height: 3vh;
  border: none;
  margin-left: 7px;
}

.item-quantity{
  margin: 0 10px;
}

.addCart-button, .cart-remove {
  border: 1px solid  #198173;
  background-color: #020617;
  color: #2dd4bf;
  border-radius: 5px;
  padding: 10px 6px;
  width: 10vw;
  cursor: pointer;
}


.add-new-book{
  margin: 30px 0 15px 30px;
}

.edit-details{
  margin-top: 20px;
}

.single-book-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}



.single-book-description{
  margin-top: 40px;
}

 hr{
  margin-top: 3px;
  margin-bottom: 15px;
 }

 .publication-date{
  margin-top: 70px;
 }

.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.not-found-container h1 {
  color: #2dd4bf;
}

label {
  color: white;
  display: block;
  margin-bottom: 10px;

}




.admin-buttons-div{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
  

/* =========================================
6. FORMS & ADMIN PANEL
========================================= */

.submit-button , .delete-button {
  cursor: pointer;
  background-color: #198173;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
}

input, textarea, select {
  display:block;
  /* margin-left: 20px; */
  width: 25vw;
  padding: 8px;
  margin: 4px 15px 20px 0;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #0f172a;
  color: white;
  /* border: saddlebrown 4px solid; */
}

.book-form {
  margin-top: 25px;
  margin-left: 45px;
}

.book-form-div{
  display: flex;
  justify-content: center;
  gap: 90px;
}

/* =========================================
   7. FOOTER
   ========================================= */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #020617;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  width: 100vw;
  border-top: #0f172a 2px solid;
  background-color: #070c1b;
}

.footer-about {
  margin-bottom: 35px;
}

.footer-about p {
  text-align: justify;
  width: 30vw;
}

.footer-about h3 {
  text-align: start;
}

/* =========================================
   8. NEW: SHOPPING CART UI
   ========================================= */

.cart-page{
  color: white;
  /* display: flex; */
}

.cart-item{
  /* border: 4px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.cart-image{
  /* border: 4px solid green; */
  width: 15vw;
  margin-bottom: 5px;
}


.cart-book-details{
  display: flex;
  flex-direction: column;
  /* border: 4px solid rgb(128, 0, 38); */
  width: 30vw;
  padding: 15px 0 0 15px;
}

.cart-remove {
  margin-top: 20px;
}

.cart-total{
display: flex;
flex-direction: column;
align-items: flex-end;
/* border: 4px solid green; */
width: 85vw;
margin: 20px 0;
}

.cart-title{
  text-align: center;
  /* border: 4px solid rgb(171, 22, 47); */
  padding: 10px 0;
  margin: 20px 0 55px 0 ;
}

.nav-cart{
  display: flex;
}

.cart-image-navbar{
  margin-right: 6px;
}

.form-container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 25px;
}

.cart-empty{
  color: white;
  text-align: center;
  margin-top: 20px;
}